/* styles.css (or any other CSS file you're using) */
.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Full height */
  }
  
  .content-wrapper {
    display: flex;
    flex: 1; /* Take remaining space */
  }

  .top-bar{
    display:flex;
    margin-left:90%;
    background-color:#f8f9fa;
    position: absolute;
  }
  .top-bar div{
    padding-left:20px;
    cursor:pointer;
  }


  
  .sidebar{
    width: 250px; /* Adjust width as needed */
    background-color:#f8f9fa; /* Example background color */
    border: 1px solid #fff;
  }
  
  .main-content {
    flex: 1; /* Take remaining space */
    padding: 20px; /* Example padding */
  }
  